# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.recyclable-scroll-unity.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Dani\Documents\Games\recyclable-scroll-unity\.idea\.idea.recyclable-scroll-unity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
